# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio and WebStorm
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

# User-specific stuff
.idea/
_pycache_
MainWindow.spec
20210509060713169_easyicon_net_32.ico
books-stack-of-three.png
build/
dist/
数据库/